@model IEnumerable<SistemaHospitalar.Domain.DTO.EnderecoDTO>

@if (TempData["MensagemSucesso"] != null)
{
            <div class="alert alert-success alert-dismissible" role="alert">
               <div> @TempData["MensagemSucesso"]</div>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
}

@if (TempData["MensagemErro"] != null)
{
        <div class="alert alert-danger d-flex align-items-center" role="alert">
        @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<p>
    <button type="button" class="btn btn-primary" onclick="createEndereco()" data-bs-target="#formModal" data-bs-toggle="modal">Adicionar outro Endereço</button>
</p>

<div class="index table-responsive"> 
<table class="table table-striped table-hover table-sm table-dark" id="table-index">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cidade)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.uf)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.id" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Ver Detalhes">Details</a> |
                    <a class="btn btn-danger btn-sm"  onclick="deleteRegistro(@item.id, 'Endereço', '../Enderecos/Delete')" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Excluir">Delete</a>
                </td>
        </tr>
    }
</tbody>
</table>
</div>

